<!DOCTYPE html>
<html>
	<head>
		<title>Adhithya photography</title>

		<meta property="og:title" content="" />
		<meta property="og:type" content="article" />
		<meta property="og:image" content="http://adhithyaphotography.herokuapp.com/static/img/social.png" />
		<meta property="og:url" content="http://adhithyaphotography.herokuapp.com/adhithyaphotography" />
		<meta property="og:description" content="Best work comes from passion" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" href="static/img/favicon.png" type="image/x-icon" />
		<link rel="stylesheet" type="text/css" href="/static/css/min.css" />
		<script type='text/javascript' src='/static/js/jquery.min.js'></script>
		<style>
		@import url('https://fonts.googleapis.com/css?family=Amaranth|Crete+Round');
		</style>
	</head>
	<body>
		<div class="headerContainer">
			<div class="headerHolder">
				<div class="headerTitle">Adhithya photography</div>
			</div>
		</div>
		{{{body}}}
		<div class="footer">
			<div class="contactHolder">
				<div class="contactHeader"> I'd love to get in touch </div>
				<div class="socialHolder">
					<div id="gmail" class="socialImgholder">
						<div class="socialImg"></div>
						<div class="urlHolder">
							<a class="uri mail" href="mailto:adhithya.writer@gmail.com" target="_blank">adhithya.writer@gmail.com</a>
						</div>
					</div>
					<div id="blog" class="socialImgholder">
						<div class="blogger socialImg"></div>
						<div class="urlHolder">
							<a class="uri" href="//veraciousverves.blogspot.in" target="_blank">veraciousverves.blogspot.in</a>
						</div>
					</div>
					<div id="codeopen" class="socialImgholder">
						<div class="socialImg"></div>
						<div class="urlHolder">
							<a class="uri" href="//codepen.io/adhithyakrishna" target="_blank">Code pen</a>
						</div>
					</div>
					<div id="github" class="socialImgholder">
						<div class="githubber socialImg"></div>
						<div class="urlHolder">
							<a class="uri" href="//github.com/Adhithyakrishna" target="_blank">Git hub</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type='text/javascript' src='/static/js/min.js'></script>
</html>